services:
  redis:
    image: redis
    ports:
      - "6380:6380"
  redis-commander:
    image: rediscommander/redis-commander
    ports:
      - "8081:8081"
    environment:
      - REDIS_HOST=local:redis:6380
